@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Permanent+Marker&display=swap');

.element {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #b68e2e;
}

.calender-container{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: 
        ". header"
        "timeslots-container main";
}

.weekdays, 
.day-numbers{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px 275px 275px 275px;
} 

.weekdays{
    background-color: #54e3dc;
}

.day-numbers{
    min-height: 2em;
}

.header{
    background-color: #088a70;
    grid-area: header;
}

.timeslots-container{
    background-color: lightgray;
    grid-area: timeslots-container;
    justify-content: left;
}

.timeslots{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeslots li{
    min-height: 60px;
}

.timeslots li::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 100%;
    height: 1px;
    background: #afafaf;
    z-index: 1;
  }  

.create-task{
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.task-contents{
   /* max-width: 700px; */
   width: 100%;
   /* background: #fff; */
   padding: 25px 30px;
   border-radius: 5px;
}

.task-contents .title{
    font-size: 25px;
    font-weight: 500;
}


/* .main{
    background-color: #9e7b28
} */
  

ul{
    margin:0;
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}


body{
    background-color: #b68e2e;
}

head{
    background-color: #54e3dc;
}

/* margin{
    background-color: #9e7b28;
} */

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0a2341;
    text-decoration: none;
}

hr{
    border-top: solid black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    background-color: #9e7b28;
    margin: 0px;
}

.logo {
    cursor: pointer;
    order: 4;
    margin-left: auto;
}

nav{
    order: 1;
}

.title{
    order: 3;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #088a70;
}

.cta{
    order: 2;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1); 
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease 0s;  
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

h1{
    height: 40%;
    left: 10%;
    margin: 20px auto;
    position: static;
    width: 40%;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 40px;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
    font-size: 0.9em;
    /* border-collapse: collapse; */
}

thead th {
    background: #001d3d;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #003566;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  td{
   height: 35px;
  }

  input{
      background: #5accb5;
  }